.toolbar-icon-multi-form-form-settings::before {
    background-image: url("/core/themes/stable/images/core/icons/787878/barchart.svg");
}
.toolbar-icon-multi-form-form-page::before {
    background-image: url("/core/themes/stable/images/core/icons/787878/file.svg");
}
